.desc-rectangle{
    
    height: 55px;
    width: 196px;
    padding: 16px 16px 16px 22px;
    background-color: #cbe6cf;
}

.desc-title{
    flex-grow: 0;    
    font-size: 20px;
    text-align: left;
    color: #000;
}