<!-- <div class="bs-stepper" id="stepper1">
  <div class="bs-stepper-header row" role="tablist">
    
    <div class="step col-12 col-lg-2" data-target="#title-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="title-part" id="title-part-trigger">
        <div class="row justify-content-center">
          <span class="bs-stepper-circle col-12 ">1</span>
          <span class="bs-stepper-label col-12">Job Title</span>
        </div>
      </button>
    </div>
    <div class="line"></div>
    <div class="step  col-12 col-lg-2" data-target="#cost-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
        <div class="row justify-content-center">
          <span class="bs-stepper-circle col-12 ">2</span>
          <span class="bs-stepper-label col-12">Job Cost</span>
        </div>
        
      </button>
    </div>
    <div class="line"></div>
    <div class="step  col-12 col-lg-2" data-target="#location-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
        <span class="bs-stepper-circle">3</span>
        <span class="bs-stepper-label">Job Location</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step col-12 col-lg-2" data-target="#desc-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
        <span class="bs-stepper-circle">4</span>
        <span class="bs-stepper-label">Job Description</span>
      </button>
    </div>
  </div>
  <div class="bs-stepper-content">
    
    <div id="title-part" class="content" role="tabpanel" aria-labelledby="title-part-trigger">
      <p class="text-center">test 1</p>
      <button class="btn btn-primary" onclick="stepper1.next()">Next</button>
    </div>

  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="">
      <div class="bs-stepper-content ">
        <!-- <div id="title-part" class="content justify-content-center">
          <div class="card mx-auto" style="height: 575px;width: 95%;">
            <div class="card-body p-0" >
              <div class="row d-flex" style="height: 400px; ">
                <div class="col p-15 text-center " style="background-color:cornflowerblue; border-radius:10px 0px 0px 10px">
                  <img src=" https://i.pinimg.com/originals/6d/00/b2/6d00b2a3b7dd96642ca14a158a53655e.png" alt="alternatetext" style="width:40%; height:40%; margin: 10PX;">
                  <p style="margin: 10px;font-size: 30px;"> Job Title</p>
                  <p style="margin: 10px;font-size: 11px;"> This job title is used to quickly describe the job at hand for a user who is viewing the job search</p>
                </div>

                <div class="col-7 p-15 text-center align-self-center">
                  <p style="text-align:center;margin: 0px;font-size: 20px;"> Please Enter Title:</p>
                  <div class="input-group input-group-lg w-50 mx-auto mt-3" >
                    <input type="text" class="form-control font-bold" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                  </div>
  
                  <button class="btn mt-5" (click)="next()">Next</button>
                </div>
              </div>
              
            </div>
          </div>
         
        </div> -->

        <div id="title-part" class="content justify-content-center">
          <div class="card mx-auto" style="height: 575px;width: 80%;">
            <div class="card-body  d-flex align-items-center justify-content-center" style="padding: 50px" >
              <div class="row d-flex">
                <div class="col-12">
                  <h3>Give your job document a title</h3>
                </div>
                <div class="col-8" style="color:#7E7E7E; font-size: 15px;">
                  This helps workers judge if the job is for the. Use key words that describe the job.
                </div>
                <div class="col-4"></div>
                <div class="col-12" style="padding:15px ;">
                  <div class="input-group input-group-lg w-80" style="margin-top: 2%;">
                    <input type="text" class="form-control font-bold"  placeholder="Enter job title here. Ex. House needs painting" maxlength="100">
                  </div>
                </div>
                <div class="col-12 ">
                  <button class="btn mt-5 pull-right " (click)="next()">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="desc-part" class="content justify-content-center">
          <div class="card mx-auto" style="height: 575px;width: 80%;">
            <div class="card-body  d-flex align-items-center justify-content-center" style="padding: 50px" >
              <div class="row d-flex">
                <div class="col-12">
                  <h3>Describe the work that needs doing.</h3>
                </div>
                <div class="col-8" style="color:#7E7E7E; font-size: 15px;">
                  Use words the describe actions or objects related to the job that needs doing.
                </div>
                <div class="col-4"></div>
                <div class="col-12" style="padding:15px ;">
                  <div class="form-group">
                    <textarea class="form-control" style="resize:vertical ;" rows="10" id="comment"></textarea>
                  </div>
                </div>
                <div class="col-12 ">
                  <button class="btn mt-5 pull-right " (click)="next()">Next</button>
                  <button class="btn mt-5 pull-right " (click)="back()">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="category-part" class="content justify-content-center">
          <div class="card mx-auto" style="height: 575px;width: 80%;">
            <div class="card-body  d-flex align-items-center justify-content-center" style="padding: 50px" >
              <div class="row d-flex">
                <div class="col-12">
                  <h3>Please select an industry and category for your job.</h3>
                </div>
                <div class="col-8" style="color:#7E7E7E; font-size: 15px;">
                  This helps organise our listings, but also makes it easier for workers to find your job document and get in contact.
                </div>
                <div class="col-4"></div>
                <div class="col-12" style="padding:15px ;">
                  <select class="form-select" aria-label="Default select example" style="width: 45% ;">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>

                <div class="col-12" style="padding:15px ;">
                  <select class="form-select" aria-label="Default select example" style="width: 45% ;">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="col-12 ">
                  <button class="btn mt-5 pull-right " (click)="next()">Next</button>
                  <button class="btn mt-5 pull-right " (click)="back()">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div id="location-part" class="content">
          <div class="card mx-auto" style="height: 575px;width: 80%;">
            <div class="card-body  d-flex align-items-center justify-content-center" style="padding: 50px" >
              <div class="row d-flex">
                <div class="col-12">
                  <h3>What is the location of your job?</h3>
                </div>
                <div class="col-10" style="color:#7E7E7E; font-size: 15px;">
                  Location will only be shared with successful candidates.
                  If you wish to skip this, and disclose the address directly with clients, just add a town or district.
                </div>
                <div class="col-2"></div>
                <div class="col-12">
                  <form>
                    <div class="form-group" style="width:45%;padding:15px">
                      <input type="text" style="border-radius:10px 10px 0px 0px ;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Street">
                      <input type="text" class="form-control"  style="border-radius:0px 0px 0px 0px ;"id="exampleInputPassword1" placeholder="Flat, suite, etc.(Optional)">
                      <input type="text" class="form-control"  style="border-radius:0px 0px 0px 0px ;"id="exampleInputPassword1" placeholder="City/Town">
                      <input type="text" class="form-control"  style="border-radius:0px 0px 0px 0px ;"id="exampleInputPassword1" placeholder="County">
                      <input type="text" class="form-control"  style="border-radius:0px 0px 10px 10px ;"id="exampleInputPassword1" placeholder="Country">
                    </div>
                  </form>
                </div>
                <div class="col-12 ">
                  <button class="btn mt-5 pull-right " (click)="next()">Next</button>
                  <button class="btn mt-5 pull-right " (click)="back()">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="timeframe-part" class="content">
          <div class="card mx-auto" style="height: 575px;width: 80%;">
            <div class="card-body  d-flex align-items-center justify-content-center" style="padding: 50px" >
              <div class="row d-flex">
                <div class="col-12">
                  <h3>When do you want the job to be done?</h3>
                </div>
                <div class="col-10" style="color:#7E7E7E; font-size: 15px;">
                  If you think it will take longer than a day, or if there is a window of days that it can be done in, please select them below.
                </div>
                <div class="col-2"></div>
                <div class="col-12">
                  <form>
                    <div class="form-group" style="width:45%;padding:15px">
                      <input type="text" style="border-radius:10px 10px 0px 0px ;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Street">
                      <input type="text" class="form-control"  style="border-radius:0px 0px 0px 0px ;"id="exampleInputPassword1" placeholder="Flat, suite, etc.(Optional)">
                      <input type="text" class="form-control"  style="border-radius:0px 0px 0px 0px ;"id="exampleInputPassword1" placeholder="City/Town">
                      <input type="text" class="form-control"  style="border-radius:0px 0px 0px 0px ;"id="exampleInputPassword1" placeholder="County">
                      <input type="text" class="form-control"  style="border-radius:0px 0px 10px 10px ;"id="exampleInputPassword1" placeholder="Country">
                    </div>
                  </form>
                </div>
                <div class="col-12 ">
                  <button class="btn mt-5 pull-right " (click)="next()">Next</button>
                  <button class="btn mt-5 pull-right " (click)="back()">Back</button>
                </div>
              </div>
            </div>
          </div>
      </div>


      </div>
    </div>

<!-- <div class="row">
  <div class="col-md-12 ">
    <div class="card">
      <div class="card-header">
        <p style="font-size: 36px;">Create a Job Listing</p>
        
      </div>
      <div class="card-body">
        <form>
          
            <div class="row" style="margin: 43px 0 25px 25px;">
              <div class="desc-rectangle col-md-3 col-3">
                <p class="desc-title">Job Title</p>
              </div>
              <input type="text" class="form-control col-md-7" id="jobname" placeholder="Enter Listing Name" style="width: 40%;" >
            </div>

            <div class="row" style="margin: 43px 0 25px 25px;">
              <div class="desc-rectangle col-md-3 col-4">
                <p class="desc-title">Job Category</p>
              </div>
              <select class="form-control col-md-7" id="jobtype" style="width: 40%;">
                <option value="" selected disabled>Please select a type</option>
                <option>Garden</option>
                <option>House</option>
                <option>Building</option>
              </select>
            </div>

            <div class="row" style="margin: 43px 0 25px 25px;">
              <div class="desc-rectangle col-md-3 col-3">
                <p class="desc-title">Job Description</p>
              </div>
              <textarea class="form-control col-md-7" id="jobtext" placeholder="Please enter details of the job" rows="1" style="width:40%; resize: vertical; max-height: none;"></textarea>
            </div>
            
          
        </form>
        <div class="row">
          <div class="col-5">
          </div>
          <div class="col-4">
            <button type="button" class="btn" style=" width: 311px;
            width: 222.6px;
 height: 55px;
 flex-grow: 0;
 margin: 25px 0 128px 60px;
 padding: 16.6px 0 19.2px 3.8px;
 border-radius: 35px;
 background-color: #4f84de;" >Create Listing</button>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div> -->

