<div class="container fill-height">
    <div class="row">
     <div class="col-lg-1"></div>
       <div class="col-lg-10 text-center" style="top: 50%; left: 50%;position: absolute; transform: translate(-50%, -50%);">
            <p style="text-align:center;margin: 0px;font-size: 40px;"> Welcome to</p>
            <p style="text-align:center;margin: 0px;font-size: 60px;">Only <strong>Locals</strong></p>
            <p style="text-align:center;margin: 0px;font-size: 20px;"> The one place for work everywhere</p>

            <button type="button" class="btn" style=" width: 311px;
            height: 55px;
            flex-grow: 0;
            margin: 40px 3px 0 0;
            padding: 16.6px 0 19.2px 5.4px;
            border-radius: 35px;
            background-color: #4f84de;" [routerLink]="['/login']">Login with wallet</button>
       </div>
     <div class="col-lg-1"></div>
   </div>
 </div>