<div class="container ">
  <a href="#" class="previous round" style="border-radius: 50%; background-color: #f1f1f1;
  color: black;">back</a>
    <div class="row">
     <div class="col-lg-1"></div>
       <div class="col-lg-10 text-center" style="top: 50%; left: 50%;position: absolute; transform: translate(-50%, -50%);">
            
            <p style="text-align:center;margin: 0px;font-size: 60px;">Select Wallet</p>

            <button [routerLink]="['/joblistings']" type="button" class="btn btn-outline-primary" style="width: 300px;height: 100px;">
                  <img class="google-icon" src="https://peergame.com/assets/images/moneybutton-logo-bb042611dcd583f467dfbfa759baf6d1.png" width="30%"/>
                  MoneyButton
            </button>

            <button [routerLink]="['/joblistings']" type="button" class="btn btn-outline-primary" style="width: 300px;height: 100px;">
              <img class="google-icon" src="https://app.handcash.io/icons/handcash_icon.png" width="20%"/>
              HandCash
        </button>
            
       </div>
     <div class="col-lg-1"></div>
   </div>
 </div>