<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let job of Jobs">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="icon-big text-center icon-warning">
              <img alt="Qries" [src]="job.photoURL" height="300px" >
            </div>
          </div>

          <div class="col-12 col-md-12">
            <div class="">
              <p class="card-title" style="font: bold; font-size: x-large;">{{job.description}}
                <p>
            </div>
          </div>

          <div class="col-12 col-md-12">
            <div class="">
              <p class="card-category" style="font: bold;">{{job.location}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-2" *ngFor="let desc of job.lables">
              <span class="badge badge-pill badge-primary">{{desc}}</span>
            </div>
          </div>
          
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-search-plus"></i> View Job
        </div>
      </div>
    </div>
  </div>
</div>
